<!doctype html>
<html lang="en">
<body>
<h1>Neues Rezept</h1>
<a href="/">Zurück</a>
<div class="container">
  <form action="/recipe/create" method="post">
    <div class="form-group">
      <h2>Allgemeines</h2>
      <label for="name">Name:</label><input type="text" id="name" name="name"/><br>
      <label for="description">Beschreibung:</label><textarea id="description"
                                                              name="description"></textarea><br>
      <label for="portions">Anzahl Portionen:</label><input type="text" id="portions"
                                                            name="portions"/>
      <h2>Zutaten</h2>
      <div>
        <label for="food1">Zutat:</label><input type="text" id="food1" name="food1"/>
        <label for="amount1">Menge:</label><input type="text" id="amount1"
                                                  name="amount1"/>
        <select name="unit1" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food2">Zutat:</label><input type="text" id="food2" name="food2"/>
        <label for="amount2">Menge:</label><input type="text" id="amount2"
                                                  name="amount2"/>
        <select name="unit2" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food3">Zutat:</label><input type="text" id="food3" name="food3"/>
        <label for="amount3">Menge:</label><input type="text" id="amount3"
                                                  name="amount3"/>
        <select name="unit3" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food4">Zutat:</label><input type="text" id="food4" name="food4"/>
        <label for="amount4">Menge:</label><input type="text" id="amount4"
                                                  name="amount4"/>
        <select name="unit4" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food5">Zutat:</label><input type="text" id="food5" name="food5"/>
        <label for="amount5">Menge:</label><input type="text" id="amount5"
                                                  name="amount5"/>
        <select name="unit5" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food6">Zutat:</label><input type="text" id="food6" name="food6"/>
        <label for="amount6">Menge:</label><input type="text" id="amount6"
                                                  name="amount6"/>
        <select name="unit6" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food7">Zutat:</label><input type="text" id="food7" name="food7"/>
        <label for="amount7">Menge:</label><input type="text" id="amount7"
                                                  name="amount7"/>
        <select name="unit7" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food8">Zutat:</label><input type="text" id="food8" name="food8"/>
        <label for="amount8">Menge:</label><input type="text" id="amount8"
                                                  name="amount8"/>
        <select name="unit8" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food9">Zutat:</label><input type="text" id="food9" name="food9"/>
        <label for="amount9">Menge:</label><input type="text" id="amount9"
                                                  name="amount9"/>
        <select name="unit9" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food10">Zutat:</label><input type="text" id="food10" name="food10"/>
        <label for="amount10">Menge:</label><input type="text" id="amount10"
                                                   name="amount10"/>
        <select name="unit10" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food11">Zutat:</label><input type="text" id="food11" name="food11"/>
        <label for="amount11">Menge:</label><input type="text" id="amount11"
                                                   name="amount11"/>
        <select name="unit11" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food12">Zutat:</label><input type="text" id="food12" name="food12"/>
        <label for="amount12">Menge:</label><input type="text" id="amount12"
                                                   name="amount12"/>
        <select name="unit12" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food13">Zutat:</label><input type="text" id="food13" name="food13"/>
        <label for="amount13">Menge:</label><input type="text" id="amount13"
                                                   name="amount13"/>
        <select name="unit13" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food14">Zutat:</label><input type="text" id="food14" name="food14"/>
        <label for="amount14">Menge:</label><input type="text" id="amount14"
                                                   name="amount14"/>
        <select name="unit14" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food15">Zutat:</label><input type="text" id="food15" name="food15"/>
        <label for="amount15">Menge:</label><input type="text" id="amount15"
                                                   name="amount15"/>
        <select name="unit15" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food16">Zutat:</label><input type="text" id="food16" name="food16"/>
        <label for="amount16">Menge:</label><input type="text" id="amount16"
                                                   name="amount16"/>
        <select name="unit16" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food17">Zutat:</label><input type="text" id="food17" name="food17"/>
        <label for="amount17">Menge:</label><input type="text" id="amount17"
                                                   name="amount17"/>
        <select name="unit17" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food18">Zutat:</label><input type="text" id="food18" name="food18"/>
        <label for="amount18">Menge:</label><input type="text" id="amount18"
                                                   name="amount18"/>
        <select name="unit18" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food19">Zutat:</label><input type="text" id="food19" name="food19"/>
        <label for="amount19">Menge:</label><input type="text" id="amount19"
                                                   name="amount19"/>
        <select name="unit19" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <div>
        <label for="food20">Zutat:</label><input type="text" id="food20" name="food20"/>
        <label for="amount20">Menge:</label><input type="text" id="amount20"
                                                   name="amount20"/>
        <select name="unit20" size="1">
          {{#units}}
            <option>{{name}}</option>
          {{/units}}
        </select>
      </div>
      <h2>Anweisungen</h2>
      <label for="direction1">Anweisung:</label><textarea id="direction1" name="direction1"></textarea><br>
      <label for="direction2">Anweisung:</label><textarea id="direction2" name="direction2"></textarea><br>
      <label for="direction3">Anweisung:</label><textarea id="direction3" name="direction3"></textarea><br>
      <label for="direction4">Anweisung:</label><textarea id="direction4" name="direction4"></textarea><br>
      <label for="direction5">Anweisung:</label><textarea id="direction5" name="direction5"></textarea><br>
      <label for="direction6">Anweisung:</label><textarea id="direction6" name="direction6"></textarea><br>
      <label for="direction7">Anweisung:</label><textarea id="direction7" name="direction7"></textarea><br>
      <label for="direction8">Anweisung:</label><textarea id="direction8" name="direction8"></textarea><br>
      <label for="direction9">Anweisung:</label><textarea id="direction9" name="direction9"></textarea><br>
      <label for="direction10">Anweisung:</label><textarea id="direction10" name="direction10"></textarea><br>
      <label for="direction11">Anweisung:</label><textarea id="direction11" name="direction11"></textarea><br>
      <label for="direction12">Anweisung:</label><textarea id="direction12" name="direction12"></textarea><br>
      <label for="direction13">Anweisung:</label><textarea id="direction13" name="direction13"></textarea><br>
      <label for="direction14">Anweisung:</label><textarea id="direction14" name="direction14"></textarea><br>
      <label for="direction15">Anweisung:</label><textarea id="direction15" name="direction15"></textarea><br>
      <label for="direction16">Anweisung:</label><textarea id="direction16" name="direction16"></textarea><br>
      <label for="direction17">Anweisung:</label><textarea id="direction17" name="direction17"></textarea><br>
      <label for="direction18">Anweisung:</label><textarea id="direction18" name="direction18"></textarea><br>
      <label for="direction19">Anweisung:</label><textarea id="direction19" name="direction19"></textarea><br>
      <label for="direction20">Anweisung:</label><textarea id="direction20" name="direction20"></textarea><br>
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
  </form>
</div>
</body>
</html>
