<!doctype html>
<html lang="en">
<body>
<h1>Dein Rezeptemanager</h1>
<a href="/recipe/create">Neues Rezept</a>
<a href="/unit/show">Maßeinheiten</a>
<div class="container">
  {{>layout/recipes}}
</div>
</body>
</html>
