<!doctype html>
<html lang="en">
<body>
<a href="/">Zurück</a>
<h1>{{recipe.name}}</h1>
<ul>
  <li>Beschreibung: {{recipe.description}}</li>
  <li>Anzahl Portionen: {{recipe.portions}}</li>
</ul>
</body>
</html>
